{% extends "aldryn_newsblog/base.html" %}
{% load i18n  staticfiles thumbnail cms_tags apphooks_config_tags %}

	
	
	
	
{% block newsblog_content %}


<div class="grid-container ">
	

	<br>
	<div class="cell">
{% placeholder "main" or %}
        {% endplaceholder %}
        
	  
		<div class="cell  "><h1>News</h1></div>
		<hr>
      
	  
    {% for article in article_list %}
    
    	
    		
    			

             {% include "aldryn_newsblog/includes/list.html" %}
             <hr>
            
				  {% empty %}
    
    <br>
{% endfor %}  


{% include "aldryn_newsblog/includes/pagination.html" %}
				
          
 
  
      
    
    </div>    	
<div class="large-4 medium-4 columns">
  	
 {% placeholder "second" or %}
        {% endplaceholder %}
  </div>
     
     
       
  
  

</div>
</div>
{% endblock %}



    


	
