{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
{% load i18n cms_tags apphooks_config_tags %}

<article class="article
    {% if article.is_featured %} featured{% endif %}
    {% if not article.published %} unpublished{% endif %}">
	
        {% if not detail_view %}
        
        
	

        

     <div class="row">
     	
      <div class="large-3 medium-3 small-3 columns">
      					         <p> <img src="{% thumbnail article.featured_image 161x161 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}"></p>

      </div>
      
      <div class="large-9 medium-9 small-9 columns">
      <h3> <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a></h3>
	
      <h6><a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}"> {% render_model article "lead_in" "" "" "striptags" %}...</a></h6>

      </div>
      
   
      
    </div>      	
            	
            	
            	
            	

          
         
        {% else %}
           
        {% endif %}
    
     
    {# The image is only shown on the detail view by using the condition "and detail_view" #}


    {% if article.categories.exists %}
        <p>
            {% for category in article.categories.all %}
                <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}


    

  

    {% if article.tags %}
        <p>
            {% for tag in article.tags.all %}
                <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
            {% endfor %}
        </p>
    {% endif %}

    

    {% if detail_view %}
    <br>
      
        
    {% endif %}
</article>
