{% extends "aldryn_newsblog/base.html" %}
{% load i18n  staticfiles thumbnail cms_tags apphooks_config_tags %}

	
	
	


{% block newsblog_content %}
<br>
<br>
<div class="grid-container">


		
	<div class="grid-x grid-margin-x large-up-2">		
	 {% for article in article_list %}
    
    	
    		


    			
			<div class="cell">
             {% include "aldryn_newsblog/gallery/includes/list_gallery.html" %} 
				  {% empty %}
			</div
  
{% endfor %}  
 </div>

{% include "aldryn_newsblog/includes/pagination.html" %}
</div>


        	
</div>

  
  

{% endblock %}



    


	
