{% load menu_tags %}

<div data-sticky-container>
	  <div id="siteNavStickyWrap" class="sticky" data-sticky data-sticky-on="small" data-anchor="siteContainer" data-margin-top="0">
	<div class="title-bar" data-sticky data-responsive-toggle="responsive-menu" data-hide-for="medium">
		
  <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
  <div class="title-bar-title" data-sticky>lostkawz</div>
</div>
    <div class="top-bar" data-sticky data-margin-top="0" id="responsive-menu">
        <div class="top-bar-left ">
            <ul class="menu">
                <li >
{% for child in children %}


<li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
	{% if child.children %}

		<div class="button">{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}</div>
	
 
	{% endif %}
</li>
{% endfor %}
                </li>
            </ul>
        </div>
       
    </div>
   </div>
</div>
</div>
           