{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
{% load i18n cms_tags apphooks_config_tags %}

<div class="container">
 <div class="row">
  			
               <div class="large-9 large-centered columns">
             
<article class="article
    {% if article.is_featured %} featured{% endif %}
    {% if not article.published %} unpublished{% endif %}">
   
          	   	
    <h1>{% render_model article "title" "" "" "striptags" %}</h1>
    <h5 >{% render_model article "lead_in" "" "" "truncatewords:'20'|striptags" %}</h5>

    <span class="meta">
        by
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
            {{ article.author.name }}
        </a>
        on {{ article.publishing_date|date:"F n, Y" }}
    </span>
          <p> <img src="{% thumbnail article.featured_image 960x593 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}"></p>


              
           
        
	
        {% if not detail_view %}
        
        


				
       	
          
        {% else %}
           
        {% endif %}
    </h5>
    {# The image is only shown on the detail view by using the condition "and detail_view" #}


    {% if article.categories.exists %}
        <p>
            {% for category in article.categories.all %}
                <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}


    

  

    {% if article.tags %}
        <p>
            {% for tag in article.tags.all %}
                <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
            {% endfor %}
        </p>
    {% endif %}

    

    {% if detail_view %}
    <br>
    
     	
  <div class="large-8 columns">
  			
        {% render_placeholder article.content language placeholder_language %}
      </div>
      			
		<div class="large-4 columns ">
  					{% render_placeholder view.config.placeholder_base_sidebar %}
				</div>
		
    {% endif %}
 </div>
 
		
</article>
</div>
</div>
